.freq-table {
    width: 100px;
    border-collapse: collapse;
    border: 2px solid #333;
    text-align: center;
    th{
        border: 1px solid #333;
        padding: 8px;
        background-color: #90fc99;
    }
    td{
        border: 1px solid #333;
        padding: 8px;
    }
}
body {
    font-family: Arial, Helvetica, sans-serif;
}